body {background-color: rgba(250, 235, 215, 0.646);

    margin: auto; 
    position: absolute;

} 

 
.auto {
    display: grid;
    align-items: center;
    grid-template-columns:  1fr ;
    column-gap: 5px;}
.Travel {
        background-image: url(Florida.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
}
.Travel 
    h1
    { text-align: center;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
     font-weight: <weight>;
     font-style: normal;
     font-size: 50px; 
     margin-top: 0%;
     margin-bottom: 2%;
     
    }

.Travel 
    p 
    { text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-style: normal;
    font-size: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
background-color: #aaaaaaab;}
  



.Menu {
    ul {
        list-style-type: none;
        margin: 0px;
        padding: 1px;
        overflow: hidden;
        background-color: #525151;
       
       
      }
      
      li {
        float: right ;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      li a:hover:not(.active) {
        background-color: #111;
      }
      
      .active {
        background-color: #0491aa;
      }
}

.Ever 
    h2 
    {font-family: "Merienda", cursive;
     font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 30px;
        margin-top: 10%;
        margin-bottom: 2%;
        text-align: center;
        
    }
.Ever 
    p 
    {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
        margin-right: 3% ;
        margin-left: 3%;
    }
.Ever img {
        display: inline-block;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-right: 5%;
        margin-left: 5%;
        width: 400px;
        height: 400px;
        float: left;
        padding: 20px;
        
        
        
    }





.Disney 
    h2
    {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-size: 30px;
    margin-top: 10%;
    margin-bottom: 1%;
    text-align: center;
    }
.Disney p {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
        margin-right: 3% ;
        margin-left: 3%;
    }
.Disney img {
        display: inline-flex;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-right: 2%;
        margin-left: 5%;
        width: 400px;
        height: 400px;
        float: left;
        padding: 20px;
        
       
        }



.Beach 
    h2 
    {font-family: "Merienda", cursive;
        font-optical-sizing: auto;
       font-weight: <weight>;
       font-style: normal;
       font-size: 30px;
        margin-top: 10%;
        margin-bottom: 1%;
        text-align: center;
        
        

     }

.Beach p {
        font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 18px;
        margin-top: 2%;
        margin-bottom: 5%;
        text-align: center;
        margin-right: 3% ;
        margin-left: 3%;
        
      
    }

.Beach 
    img 
    { 
        display: inline flex;
        width: 400px;
        height: 400px;
        float: left;
        padding: 20px;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-right: 2%;
        margin-left: 5%;

    }
.B
    {font-family: "Lato", sans-serif;
        font-weight: 100;
        font-style: normal;
        font-size: 20px;
        margin-top: 2%;
        margin-bottom: 0%;
        text-align: center;}

